[Desktop Entry]
Comment=Aurorae theme that mimics Yosemite window decoration, with Breeze colors. Based on Yosemite v0.1
Name=Breezemite dark
X-KDE-PluginInfo-Author=andreyorst
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=andreyorst@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=Breezemite_dark
X-KDE-PluginInfo-Version=0.3.0
